.modal-background-igrica {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure the modal background covers everything */
}

.modal-igrica {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1001;
}

.button-container-igrica {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

.button-container-igrica button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px; 
}

.button-primary {
    background-color: mediumseagreen;
    color: white;
}

.button-secondary {
    background-color: tomato;
    color: white;
}


