.uputstva-modal-container {
    width: 250px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .uputstva-modal-text {
    margin-bottom: 10px;
    line-height: 1.5;
  }
  
  .uputstva-modal-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .uputstva-modal-button:hover {
    background-color: #0056b3;
  }
  